numpy==1.22.2
geopandas==0.10.2
coloraide==0.10.0
Pillow==9.0.1
morecantile==3.1.0
Rtree==0.9.7
rasterio==1.2.10
git+https://github.com/PermafrostDiscoveryGateway/viz-staging.git@develop#egg=pdgstaging